---
layout: default
title: Mark Costello
---
<link rel="stylesheet" href="../css/style.css">
<div class="container">
<div id="home">
  <div class="posts">
    {% for post in site.posts %}
      <div class="post">
	<h3 class="entry-title">
  {% if page.ref_url %}
    <a class="reference" href="{{ post.ref_url }}">{{ post.title }}</a>
  {% else %}
<a href="{{ post.url }}">
    {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
</a>
  {% endif %}
</h3>
<h4>{{ post.date | date_to_string }}</h4>
      	{{ post.content }}
      </div>
    {% endfor %}
  </div>
</div>
</div>
