---
layout: default
title: Mark Costello
---
<link rel="stylesheet" href="../css/style.css">
<div class="container">
<div id="home">
  <div class="posts">
    {% for post in site.posts %}
      <div class="post">
	<article>
        <header>
                <p>
                        {% if post.ref_url %}
    <a class="reference" href="{{ post.ref_url }}">{{ post.title }}</a>
  {% else %}
<a href="{{ post.url }}">
    {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
</a>
  {% endif %}
                </p>
                <p>
                {{ post.date | date_to_string }}
                </p>
        </header>
      	{{ post.content }}
</article>
      </div>
    {% endfor %}
  </div>
</div>
</div>
